{% extends "chet/base.html" %}

{% load i18n %}

{% block title %}{% trans "photos"|capfirst %} - {{ block.super }}{% endblock %}

{% block content %}
{% for album in object_list %}
  {% ifchanged album.date|date:"FY" %}
    <p>
      <hr>
      <small>{{ album.date|date:"F Y" }}</small>
    </p>
  {% endifchanged %}
  <h2><a href="{{ album.get_absolute_url }}">
    {{ album.title }}</a></h2>
{% endfor %}

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a>&laquo;</a></li>
    {% endif %}
    {% for p in paginator.page_range %}
      {% if p == page_obj.number %}<li class="current"><a>{{ p }}</a></li>
      {% else %}<li><a href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a>&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
